@import url("https://fonts.googleapis.com/css2?family=Economica:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-family: "Economica", Arial, Helvetica, sans-serif;
  background: #6272a4;
}
